/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/*Base and dark-mode colour palettes*/
:root {
  --clr-fore: #212736;
  --clr-back: #fff9ee;
  --clr-fore2: #534e50;
  --clr-back2:#e8e3da;
  --clr-foot: #212736;
  --clr-foot2: #fff9ee;
}

.dark-mode {
  --clr-back: #1f1f29;
  --clr-fore: #cfccc8;
  --clr-back2: #13131b;
  --clr-fore2:#d9d6ce;
  --clr-foot: #1f1f20;
  --clr-foot2: #fff9ee;
}

/* Global styles */
body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  background-color: var(--clr-back);
  color: var(--clr-fore);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 999;
  background-color: transparent;
  padding: 20px;
  transition: background-color 0.3s ease-in-out
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 40px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  text-decoration: none;
  color:var(--clr-fore2);
}

/*Lighting Switch Styles*/
.toggle-switch {
  position: fixed;
  top: 2.5%; 
  right: 10%; 
  display: inline-block;
  width: 40px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 18px;
  background-color: var(--clr-fore);
  border-radius: 12px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--clr-back2);
  border-radius: 50%;
  transition: .4s;
}

/*Allows for slider to move and change colours upon being clicked*/
input:checked + .slider {
  background-color: var(--clr-back2);
  width: 100%; 
}

input:checked + .slider:before {
  transform: translateX(100%) translateY(-50%); 
  background-color: var(--clr-fore);
}

span.icon[aria-label="sun"] {
  font-size: 16px;
  position: fixed;
  top: 2.3%;
  right:14%;
}

span.icon[aria-label="moon"] {
  font-size: 16px;
  position: fixed;
  top: 2.3%;
  right:7.5%;
}

/*Light mode positioning for thinner screens*/
@media (max-width: 1000px) {
  span.icon[aria-label="sun"] {
    font-size: 16px;
    position: fixed;
    top: 2.3%;
    right:16%;
  }
  
  span.icon[aria-label="moon"] {
    font-size: 16px;
    position: fixed;
    top: 2.3%;
    right:7%;
  }
}


/* Main styles */
main {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 10%;
}

.hero h1 {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-weight: bolder;

  color:var(--clr-fore);
  text-align: center;
  line-height: 1.2;
}

.hero p {
  font-size: 14px;
  color: var(--clr-fore2);
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:normal
}

.hero img {
  padding-top: 5%;
  max-width: 80%;
  height: auto;
}

/*Hero Section style for horizontal screens*/
@media (min-width: 1000px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20%;
    padding-bottom: 20%;
  }

  .hero h1 {
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    margin-right: 20px;
    padding-top: 20%;
  }

  .hero p {
    font-size: 14px;
    color: var(--clr-fore2);
    width: 85%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .hero img {
    padding-top: 0%;
    padding-right: 0%;
    max-width: 45%;
    height: auto
  }
}

/*Project Section styles*/
.projects {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  padding-top: 10%;
  padding-bottom: 20%;
}

.projects h1 {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 54px;
  font-weight: 800;
  font-weight: bolder;

  color:var(--clr-fore);
  text-align: left;
  line-height: 1.2;
}

.projects h2 {
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 6%;

  color:var(--clr-fore2);
  text-align: left;
  line-height: 1.2;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4%;
  max-width: 960px;
  margin: 0 auto;
}

.project-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 20px;
  background-color: var(--clr-back2);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.project-element img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project-element h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-element p {
  margin-bottom: 10px;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-row a {
  text-decoration: none;
}

.button-row button {
  background-color: var(--clr-fore);
  color: var(--clr-back);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-row p {
  font-size: 12px;
  color: var(--clr-fore);
  margin-left: 10px;
}

/*Customized project layout based on width*/
@media (min-width: 1000px) {
  .projects {
    padding-top: 8%;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Footer styles */
footer {
  background-color: var(--clr-foot);
  padding: 20px;
  color: var(--clr-foot2);
  text-align: center;
  margin-top:auto;
}

.footer-icons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-icons a {
  color: var(--clr-foot2);
  font-size: 20px;
  margin-right: 10px;
}

.back-to-top {
  margin-top: 10px;
}

.back-to-top a {
  color:var(--clr-foot2);
  text-decoration: none;
}

.back-to-top a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
  font-size: 10px;
}